.todoItem{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    cursor: pointer;
    justify-content: space-between;
    label{
        display: flex;
    }
    .x{
        color: red;
        font-weight: bold;
    }
    &:has(input:checked){
        color: green;
    }
}